body {
  background-color: rgb(223, 223, 223);
  margin: 0;
}

.nav-holder {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  background-color: white;
}
